Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, author-header, style, test, push

build:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew assembleFreeRelease

sign:
  image: alvrme/alpine-android:android-32-jdk17
  environment:
    OUTPUT: signed.apk
    INSTANCE: https://codeberg.org
    KS_FILE: gitnex_ci_keystore.jks
  commands:
  - ./scripts/sign-build.sh
  secrets:
  - BOT_TOKEN
  - KS_PASS
  - KEY_PASS
  - KS_REPO

upload:
  image: curlimages/curl:7.82.0
  environment:
    WEBDAV_USERNAME: GitNexBot
    PLUGIN_FILE: signed.apk
    PLUGIN_DESTINATION: https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/builds/latest.apk
  commands:
  - curl -T "$PLUGIN_FILE" -u "$WEBDAV_USERNAME":"$WEBDAV_PASSWORD" "$PLUGIN_DESTINATION"
  ...

author-header:
  image: codeberg.org/qwerty287/woodpecker-regex-check
  settings:
    pattern: '*.java'
    regex: ' \\* \\@author [\\S\\s]+'
    must_contain: true

style:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew :app:spotlessCheck

test:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew test

push:
  image: crowdin/cli:3.16.0
  commands:
  - crowdin push

Android 15 E2E support, show archived in repos list and minor UI improvements
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ReposListAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/res/layout/activity_file_view.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_wiki.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/list_repositories.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test

Layout fixes
  app/src/main/res/layout/activity_repo_stargazers.xml
  app/src/main/res/layout/activity_repo_watchers.xml
  app/src/main/res/layout/activity_repository_settings.xml
Due: build, sign, upload, author-header, style, test

add attachments to an issue (edit)
  app/src/main/java/org/mian/gitnex/activities/EditIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/res/layout/activity_edit_issue.xml
Due: build, sign, upload, author-header, style, test

Update CI vars after update of CI
  .woodpecker/build.yml
  .woodpecker/locale.yml
Due: none

7.0 release
  .woodpecker/locale.yml
  app/build.gradle
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/700.txt
Due: build, sign, upload, author-header, style, test, push

7.0.0 release (#1405)
  .woodpecker/locale.yml
  app/build.gradle
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/700.txt
Due: build, sign, upload, author-header, style, test, push

Kick start 8.0 release, update tea4j to the latest hash and fix related issues
  app/build.gradle
  app/src/main/java/org/mian/gitnex/actions/CollaboratorActions.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/DashboardAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestsFragment.java
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, author-header, style, test

Kick start 8.0 release, update tea4j to the latest hash and fix related issues (#1406)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/actions/CollaboratorActions.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/DashboardAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestsFragment.java
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, author-header, style, test

Add pagination to different models
  app/src/main/java/org/mian/gitnex/activities/RepoStargazersActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoWatchersActivity.java
  app/src/main/java/org/mian/gitnex/adapters/CollaboratorsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserGridAdapter.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/fragments/CollaboratorsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationMembersFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationTeamInfoMembersFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/MembersByOrgTeamViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MembersByOrgViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepoStargazersViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepoWatchersViewModel.java
  app/src/main/res/layout/activity_repo_stargazers.xml
  app/src/main/res/layout/activity_repo_watchers.xml
  app/src/main/res/layout/fragment_collaborators.xml
  app/src/main/res/layout/fragment_organization_members.xml
  app/src/main/res/layout/fragment_organization_team_info_members.xml
Due: build, sign, upload, author-header, style, test

Clean up - drafts left over
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsGeneralActivity.java
  app/src/main/java/org/mian/gitnex/adapters/DiffAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/DraftsAdapter.java
  app/src/main/java/org/mian/gitnex/database/api/DraftsApi.java
  app/src/main/java/org/mian/gitnex/database/dao/DraftsDao.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/database/models/Draft.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetDraftsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetReplyFragment.java
  app/src/main/java/org/mian/gitnex/fragments/CommitDetailFragment.java
  app/src/main/java/org/mian/gitnex/fragments/DashboardFragment.java
  app/src/main/java/org/mian/gitnex/fragments/DraftsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MostVisitedReposFragment.java
  app/src/main/res/layout/activity_settings_general.xml
  app/src/main/res/layout/bottom_sheet_drafts.xml
  app/src/main/res/layout/bottom_sheet_reply_layout.xml
  app/src/main/res/layout/fragment_most_visited.xml
  app/src/main/res/layout/list_drafts.xml
  app/src/main/res/menu/drawer_menu.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Fix lint
  app/src/main/java/org/mian/gitnex/viewmodels/MembersByOrgTeamViewModel.java
Due: build, sign, upload, author-header, style, test

Remove deprecated menu and use MenuProvider instead
  app/src/main/java/org/mian/gitnex/fragments/ExploreFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExplorePublicOrganizationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/LabelsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MilestonesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationLabelsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationTeamInfoReposFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationTeamsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestCommitsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ReleasesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/WikiFragment.java
  app/src/main/res/layout/activity_commits.xml
  app/src/main/res/menu/files_switch_branches_menu.xml
Due: build, sign, upload, author-header, style, test

Pagination refactors for labels
  app/src/main/java/org/mian/gitnex/activities/CreateLabelActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateRepoActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/LabelsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationTeamRepositoriesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/CollaboratorsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/LabelsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MilestonesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationLabelsFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/CollaboratorsViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/LabelsViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MilestonesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/OrganizationLabelsViewModel.java
Due: build, sign, upload, author-header, style, test

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/ru-RU/full_description.txt
Due: none

Update templates (#1411)
  .gitea/issue_template/bug.md
  .gitea/issue_template/feature.md
  .gitea/issue_template/question.md
  .gitea/issue_template/suggestion.md
Due: none

fix-and-update-templates (#1412)
  .gitea/issue_template/bug.md
  .gitea/issue_template/feature.md
  .gitea/issue_template/question.md
  .gitea/issue_template/suggestion.md
Due: none

Remove basic auth and streamline token as the main login method
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/res/drawable/ic_bmc.xml
  app/src/main/res/drawable/ic_logout.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/custom_about_dialog.xml
  app/src/main/res/layout/fragment_settings.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, author-header, style, test, push

Improve branches UI and add pagination to it
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/BranchAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/res/layout/custom_branches_dialog.xml
  app/src/main/res/layout/list_branches.xml
  app/src/main/res/layout/list_collaborators.xml
Due: build, sign, upload, author-header, style, test

Improve branches UI in create release and pr
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateReleaseActivity.java
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_create_release.xml
Due: build, sign, upload, author-header, style, test

Create a branch, add branches list to create file, improve UI
  app/build.gradle
  app/src/main/java/org/mian/gitnex/actions/LabelsActions.java
  app/src/main/java/org/mian/gitnex/activities/CreateFileActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateReleaseActivity.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/res/layout/activity_commits.xml
  app/src/main/res/layout/activity_create_file.xml
  app/src/main/res/layout/custom_create_branch_dialog.xml
  app/src/main/res/layout/list_branches.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Fix commits UI
  app/src/main/java/org/mian/gitnex/activities/CommitsActivity.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestCommitsFragment.java
  app/src/main/res/layout/activity_commits.xml
  app/src/main/res/layout/fragment_pr_changes.xml
Due: build, sign, upload, author-header, style, test

Improve PR timeline UI
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/list_issue_comments.xml
  app/src/main/res/menu/pr_info_menu.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Revert targetCompatibility
  app/build.gradle
Due: build, sign, upload, author-header, style, test

Improvements and fixes (#1413)
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/actions/LabelsActions.java
  app/src/main/java/org/mian/gitnex/activities/CommitsActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateFileActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateReleaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/BranchAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestCommitsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/res/drawable/ic_bmc.xml
  app/src/main/res/drawable/ic_logout.xml
  app/src/main/res/layout/activity_commits.xml
  app/src/main/res/layout/activity_create_file.xml
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_create_release.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/custom_about_dialog.xml
  app/src/main/res/layout/custom_branches_dialog.xml
  app/src/main/res/layout/custom_create_branch_dialog.xml
  app/src/main/res/layout/fragment_pr_changes.xml
  app/src/main/res/layout/fragment_settings.xml
  app/src/main/res/layout/list_branches.xml
  app/src/main/res/layout/list_collaborators.xml
  app/src/main/res/layout/list_issue_comments.xml
  app/src/main/res/menu/pr_info_menu.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, author-header, style, test, push

Search in files
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/FileViewActivity.java
  app/src/main/java/org/mian/gitnex/helpers/FileContentSearcher.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/views/SyntaxHighlightedArea.java
  app/src/main/res/layout/activity_file_view.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
  fastlane/metadata/android/fr-FR/changelogs/700.txt
Due: build, sign, upload, author-header, style, test

Search in files (#1414)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/FileViewActivity.java
  app/src/main/java/org/mian/gitnex/helpers/FileContentSearcher.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/views/SyntaxHighlightedArea.java
  app/src/main/res/layout/activity_file_view.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Show tags when there are no releases (#1415)
  app/src/main/java/org/mian/gitnex/fragments/ReleasesFragment.java
Due: build, sign, upload, author-header, style, test

User activity heatmap on profile (#1416)
  app/src/main/java/org/mian/gitnex/adapters/HeatmapAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload, author-header, style, test

Implement pinch zoom for files, improve search in files, imprrove loading large files (#1417)
  app/src/main/java/org/mian/gitnex/activities/FileViewActivity.java
  app/src/main/java/org/mian/gitnex/helpers/FileContentSearcher.java
  app/src/main/java/org/mian/gitnex/views/SyntaxHighlightedArea.java
  app/src/main/java/org/mian/gitnex/views/ZoomableSyntaxHighlightedArea.java
  app/src/main/java/org/mian/gitnex/views/ZoomableTextView.java
  app/src/main/res/layout/activity_file_view.xml
  fastlane/metadata/android/en-US/full_description.txt
Due: build, sign, upload, author-header, style, test, push

User mentions in issues, prs and comments (#1418)
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/EditIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/helpers/MentionHelper.java
  app/src/main/res/layout/list_users_mention.xml
Due: build, sign, upload, author-header, style, test

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/fr-FR/full_description.txt
Due: none

Filter issues by labels
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/custom_filter_issues_by_labels.xml
  app/src/main/res/layout/list_filter_issues_by_labels.xml
Due: build, sign, upload, author-header, style, test

Filter issues if I am mentioned
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/RepositoryContext.java
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/custom_filter_issues_by_labels.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Filter issues by labels and mentioned (me) (#1419)
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/RepositoryContext.java
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/custom_filter_issues_by_labels.xml
  app/src/main/res/layout/list_filter_issues_by_labels.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Path conditions:
  build: any of: app/**, build.gradle
  sign: any of: app/**, build.gradle
  upload: any of: app/**, build.gradle
  author-header: any of: app/**, build.gradle
  style: any of: app/**, build.gradle
  test: any of: app/**, build.gradle
  push: any of: app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt
