Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, author-header, style, test, push

build:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew assembleFreeRelease

sign:
  image: alvrme/alpine-android:android-32-jdk17
  environment:
    OUTPUT: signed.apk
    INSTANCE: https://codeberg.org
    KS_FILE: gitnex_ci_keystore.jks
    BOT_TOKEN:
      from_secret: BOT_TOKEN
    KS_PASS:
      from_secret: KS_PASS
    KEY_PASS:
      from_secret: KEY_PASS
    KS_REPO:
      from_secret: KS_REPO
  ...

upload:
  image: curlimages/curl:7.82.0
  environment:
    WEBDAV_USERNAME: GitNexBot
    PLUGIN_FILE: signed.apk
    PLUGIN_DESTINATION: https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/builds/latest.apk
    WEBDAV_PASSWORD:
      from_secret: WEBDAV_PASSWORD
  commands:
  ...

author-header:
  image: codeberg.org/qwerty287/woodpecker-regex-check
  settings:
    pattern: '*.java'
    regex: ' \\* \\@author [\\S\\s]+'
    must_contain: true

style:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew :app:spotlessCheck

test:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew test

push:
  image: crowdin/cli:3.16.0
  commands:
  - crowdin push

Dependencies for issues and pr (view/add/remove)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/adapters/DependencyAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssueDependenciesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/res/drawable/ic_dependencies.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/bottom_sheet_issue_dependencies.xml
  app/src/main/res/layout/bottom_sheet_single_issue.xml
  app/src/main/res/layout/list_issue_dependency.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Dependencies for issues and pr (view/add/remove) (#1420)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/adapters/DependencyAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssueDependenciesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/res/drawable/ic_dependencies.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/bottom_sheet_issue_dependencies.xml
  app/src/main/res/layout/bottom_sheet_single_issue.xml
  app/src/main/res/layout/list_issue_dependency.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload, author-header, style, test

Tracked time (issues/prs) and created by me filter for My Issues (#1421)
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/TrackedTimeAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetMyIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetTrackedTimeFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/res/drawable/ic_stopwatch.xml
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_my_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_single_issue.xml
  app/src/main/res/layout/bottom_sheet_tracked_time.xml
  app/src/main/res/layout/list_tracked_time.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Fix my issues filters, update translations (#1422)
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetMyIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/settings.xml
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/001.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/002.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/003.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/004.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/005.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/006.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/007.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/008.png
Due: build, sign, upload, author-header, style, test

Release 8.0.0
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/800.txt
Due: build, sign, upload, author-header, style, test, push

Release 8.0.0 (#1423)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/800.txt
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/fr-FR/changelogs/800.txt
Due: none

Fix: offline mode, crash opening pr from dashboard, commits statuses from dashboard (#1427)
  README.md
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/clients/GlideService.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/res/layout/fragment_files.xml
Due: build, sign, upload, author-header, style, test

Release 8.0.1 (#1428)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/801.txt
Due: build, sign, upload, author-header, style, test, push

Frontport and updates (#1429)
  README.md
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/clients/GlideService.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/res/layout/fragment_files.xml
  app/src/main/res/xml/changelog.xml
  assets/IzzyOnDroid.png
  build.gradle
Due: build, sign, upload, author-header, style, test

Hotfix: Fix logins (#1431)
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
Due: build, sign, upload, author-header, style, test

Fix logins
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
Due: build, sign, upload, author-header, style, test

Release a hotfix 8.0.2 (#1432)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/802.txt
Due: build, sign, upload, author-header, style, test, push

Upgrade to JDK 21
  .woodpecker/build.yml
  .woodpecker/check.yml
  app/build.gradle
Due: build, sign, upload, author-header, style, test

Frontport hotfix logins and upgrade JDK to 21 (#1433)
  .woodpecker/build.yml
  .woodpecker/check.yml
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
Due: build, sign, upload, author-header, style, test

Fix offline cache affecting online activites, fix glide for self-signed certs (#1442)
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/GlideService.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
Due: build, sign, upload, author-header, style, test

Release 8.0.3 (#1443)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/803.txt
Due: build, sign, upload, author-header, style, test, push

Fix offline cache affecting online activites, fix glide for self-signed certs
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/GlideService.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
Due: build, sign, upload, author-header, style, test

Improve changelog UI, add where to get access token
  app/src/main/java/org/mian/gitnex/activities/AddNewAccountActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/helpers/ChangeLog.java
  app/src/main/res/layout/activity_add_new_account.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, author-header, style, test, push

Improve changelog UI, add where to get access token (#1444)
  app/src/main/java/org/mian/gitnex/activities/AddNewAccountActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/GlideService.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/helpers/ChangeLog.java
  app/src/main/res/layout/activity_add_new_account.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  fastlane/metadata/android/de-DE/changelogs/700.txt
Due: build, sign, upload, author-header, style, test

Fix layout and revamp login (#1501)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/core/MainGrammarLocator.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/GoLanguage.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/PhpLanguage.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_settings_appearance.xml
  app/src/main/res/layout/custom_about_dialog.xml
  build.gradle
Due: build, sign, upload, author-header, style, test

Fix login screen for Android 15, improve codeberg theme
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoriesViewModel.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test

Fix login screen for Android 15, improve codeberg theme (#1502)
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoriesViewModel.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test

Add md alerts and sort for repositories
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/fragments/MyRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationTeamInfoReposFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/StarredRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/WatchedRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/helpers/markdown/AlertPlugin.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoriesViewModel.java
  app/src/main/res/drawable/ic_caution.xml
  app/src/main/res/drawable/ic_important.xml
  app/src/main/res/drawable/ic_tip.xml
  app/src/main/res/drawable/login_bg.jpg
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_my_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_repositories_sort.xml
  app/src/main/res/layout/custom_markdown_alert_block.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/list_files.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test, push

MD alerts support, sorting repositories (#1503)
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/fragments/MyRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationTeamInfoReposFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/StarredRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/WatchedRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/helpers/markdown/AlertPlugin.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoriesViewModel.java
  app/src/main/res/drawable/ic_caution.xml
  app/src/main/res/drawable/ic_important.xml
  app/src/main/res/drawable/ic_tip.xml
  app/src/main/res/drawable/login_bg.jpg
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_my_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_repositories_sort.xml
  app/src/main/res/layout/custom_markdown_alert_block.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/list_files.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test, push

Revamp the app home/launch screen, refactors, add latest API commit
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/CommitsActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ActivitiesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/CommitStatusesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/HomeDashboardAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsNavAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/AccountSettingsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ActivitiesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetIssueDependenciesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetMyIssuesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreFragment.java
  app/src/main/java/org/mian/gitnex/fragments/HomeDashboardFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MostVisitedReposFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/StarredRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/WatchedRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/viewmodels/ActivitiesViewModel.java
  app/src/main/res/drawable/ic_activities.xml
  app/src/main/res/drawable/ic_home.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_activities.xml
  app/src/main/res/layout/fragment_home_dashboard.xml
  app/src/main/res/layout/list_activities.xml
  app/src/main/res/layout/list_home_dashboard_item.xml
  app/src/main/res/layout/list_home_dashboard_subitem.xml
  app/src/main/res/layout/nav_header.xml
  app/src/main/res/menu/bottom_nav_menu.xml
  app/src/main/res/menu/drawer_menu.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Refactor main activity
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/res/layout/activity_main.xml
Due: build, sign, upload, author-header, style, test

Move about dialog to a bottom sheet
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/drawable/bottom_sheet_handle.xml
  app/src/main/res/layout/bottom_sheet_about.xml
  app/src/main/res/layout/custom_about_dialog.xml
  app/src/main/res/layout/fragment_settings.xml
Due: build, sign, upload, author-header, style, test

Improve home dashboard screen
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/HomeDashboardAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/HomeDashboardFragment.java
  app/src/main/res/drawable/bottom_sheet_handle.xml
  app/src/main/res/layout/fragment_home_dashboard.xml
  app/src/main/res/layout/nav_user_accounts.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Revamp notifications in settings
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/SettingsNotificationsActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsAboutFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsNotificationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_notifications.xml
  app/src/main/res/layout/bottom_sheet_settings_about.xml
  app/src/main/res/layout/bottom_sheet_settings_notifications.xml
Due: build, sign, upload, author-header, style, test

Move backup to bottom sheet
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/SettingsBackupRestoreActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsBackupRestoreFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_backup_restore.xml
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_settings_backup_restore.xml
  app/src/main/res/layout/bottom_sheet_settings_notifications.xml
Due: build, sign, upload, author-header, style, test

Move code editor options to bottom sheet
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsCodeEditorActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsCodeEditorFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_code_editor.xml
  app/src/main/res/layout/bottom_sheet_settings_code_editor.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Move security options to bottom sheet and other UI related fixes
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/SettingsSecurityActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsSecurityFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_security.xml
  app/src/main/res/layout/bottom_sheet_settings_backup_restore.xml
  app/src/main/res/layout/bottom_sheet_settings_notifications.xml
  app/src/main/res/layout/bottom_sheet_settings_security.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test, push

Move general settings to bottom sheet
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/SettingsGeneralActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsGeneralFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_general.xml
  app/src/main/res/layout/bottom_sheet_settings_general.xml
Due: build, sign, upload, author-header, style, test

Move appearance to bottom sheet
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/SettingsAppearanceActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSettingsAppearanceFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings_appearance.xml
  app/src/main/res/layout/bottom_sheet_settings_appearance.xml
  app/src/main/res/layout/chip_item.xml
  app/src/main/res/values/settings.xml
Due: build, sign, upload, author-header, style, test

Refactor notification and explore repo screen and UI
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetNotificationsFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/res/layout/bottom_sheet_explore_filters.xml
  app/src/main/res/layout/custom_explore_repositories_dialog.xml
  app/src/main/res/layout/fragment_notifications.xml
  app/src/main/res/menu/filter_menu_explore.xml
Due: build, sign, upload, author-header, style, test

Path conditions:
  build: any of: app/**, build.gradle
  sign: any of: app/**, build.gradle
  upload: any of: app/**, build.gradle
  author-header: any of: app/**, build.gradle
  style: any of: app/**, build.gradle
  test: any of: app/**, build.gradle
  push: any of: app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt
