Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, push

.woodpecker/build.yml:

steps:
  build:
    image: alvrme/alpine-android:android-32-jdk17
    commands:
      - ./gradlew assembleFreeRelease
    when:
      path: [ app/**, build.gradle ]

  sign:
    image: alvrme/alpine-android:android-32-jdk17
    environment:
      OUTPUT: "signed.apk"
      INSTANCE: "https://codeberg.org"
      KS_FILE: "gitnex_ci_keystore.jks"
    commands:
      - ./scripts/sign-build.sh
    secrets: [ BOT_TOKEN, KS_PASS, KEY_PASS, KS_REPO ]
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/**, build.gradle ]

  upload:
    image: curlimages/curl:7.82.0
    environment:
      WEBDAV_USERNAME: "GitNexBot"
      PLUGIN_FILE: "signed.apk"
      PLUGIN_DESTINATION: "https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/builds/latest.apk"
    commands:
      - curl -T "$PLUGIN_FILE" -u "$WEBDAV_USERNAME":"$WEBDAV_PASSWORD" "$PLUGIN_DESTINATION"
    secrets: [ WEBDAV_PASSWORD ]
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/**, build.gradle ]

  upload-release:
    image: curlimages/curl:7.82.0
    environment:
      WEBDAV_USERNAME: "GitNexBot"
      PLUGIN_FILE: "signed.apk"
    commands:
      - "[[ $CI_COMMIT_TAG == *'-rc'* ]] && echo 'Upload blocked. Build seems to be a release candidate.' && exit 0"
      - curl -T "$PLUGIN_FILE" -u "$WEBDAV_USERNAME":"$WEBDAV_PASSWORD" 'https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/releases/'"$CI_COMMIT_TAG"'.apk'
    secrets: [ WEBDAV_PASSWORD ]
    when:
      event: [ tag ]

.woodpecker/locale.yml:

steps:
  prepare:
    image: alpine
    commands:
      - cp crowdin.example.yml crowdin.yml
      - sed -i 's/-removed-/'"$CROWDIN_TOKEN"'/' crowdin.yml
    secrets: [ CROWDIN_TOKEN ]
    when:
      event: [ push, tag, cron ]
      branch: main

  push:
    image: crowdin/cli:3.16.0
    commands:
      - crowdin push
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt ]

  pull:
    image: crowdin/cli:3.16.0
    # we do not need to update the config file again since it persists
    commands:
      - crowdin pull
    when:
      event: [ push, cron ]
      branch: main

  push-git:
    image: alpine/git
    environment:
      # Information that should be used when authoring a commit
      - GIT_AUTHOR_NAME=gitnexbot
      - GIT_AUTHOR_EMAIL=gitnexbot@noreply.codeberg.org
      - GIT_COMMIT_MESSAGE=Translation updates from Crowdin [CI SKIP]
      # Basic information concerning the repo that
      - GITEA_HOST=codeberg.org
      - GITEA_REPOSITORY=gitnex/GitNex
      - GITEA_BRANCH=main
      # Token that should be used to authenticate against the gitea instance
      # - BOT_TOKEN=secret
    secrets: [ BOT_TOKEN ]
    commands:
      # Setup git credentials and checkout target branch
      - git config user.name  "$${GIT_AUTHOR_NAME}"
      - git config user.email "$${GIT_AUTHOR_EMAIL}"
      - git checkout "$${GITEA_BRANCH}"
      # Stage all important files for commit
      - git add -A .
      # If files have changed, create a new commit and push it to the branch this pipeline was started on
      - >
        if git commit --message "$${GIT_COMMIT_MESSAGE}"; then
          git remote set-url origin "https://$${BOT_TOKEN}@$${GITEA_HOST}/$${GITEA_REPOSITORY}"
          git push origin "$${GITEA_BRANCH}"
        fi
    when:
      branch: main
      event: [ push, cron ]

Fix attachments for comments and improve comment UI (#1358)
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/values/dimens.xml
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-zh-rCN/strings.xml
Due: build, sign, upload

Update strings and libs
  app/build.gradle
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Increase build and app version for release
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/550.txt
Due: build, sign, upload, push

Prepare release 5.5.0 (#1359)
  app/build.gradle
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/550.txt
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  fastlane/metadata/android/de-DE/changelogs/550.txt
Due: build, sign, upload

Add attachment icon, bump version to 6.0.0 dev
  .gitignore
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/menu/drawer_menu.xml
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
  fastlane/metadata/android/fr-FR/changelogs/550.txt
Due: build, sign, upload

Minor build fixes and remove my issues false visiblity state
  app/build.gradle
  app/src/main/res/menu/drawer_menu.xml
  build.gradle
Due: build, sign, upload

Fix jumping cursor to the end
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/res/layout/activity_issue_detail.xml
Due: build, sign, upload

Update libs and minor code refactors
  app/build.gradle
  app/src/main/java/org/mian/gitnex/adapters/AdminCronTasksAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/AdminGetUsersAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/AdminUnadoptedReposAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/AssigneesListAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/CollaboratorSearchAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/CollaboratorsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/CommitStatusesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/DiffAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/DraftsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreRepositoriesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/FilesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/LabelsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/LabelsListAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/MostVisitedReposAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationAddUserToTeamMemberAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationTeamMembersPreviewAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationTeamRepositoriesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationTeamsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationsListAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ReactionAuthorsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ReleasesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ReleasesDownloadsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/RepoForksAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ReposListAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/SSHKeysAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsNavAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserGridAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UsersAdapter.java
Due: build, sign, upload

Fix showing notification popup on each screen
  app/src/main/java/org/mian/gitnex/notifications/Notifications.java
Due: build, sign, upload

Hide create button for issue/pr to avoid tapping again
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/ProfileActivity.java
  app/src/main/res/layout/custom_about_dialog.xml
Due: build, sign, upload

Fix biometric lock on cancel
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/BiometricUnlock.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
Due: build, sign, upload

Remove bmc link
  README.md
Due: none

Fix opening profiles via links
  app/src/main/java/org/mian/gitnex/activities/DeepLinksActivity.java
  app/src/main/java/org/mian/gitnex/helpers/SnackBar.java
Due: build, sign, upload

Add website, location and bio to user profile and other minor UI improvements
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/res/drawable/ic_file_description.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/layout/nav_header.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
Due: build, sign, upload

Remove ref of picasso
  README.md
Due: none

Add attachments to comments
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/AttachmentsAdapter.java
  app/src/main/res/drawable/shape_full_circle.xml
  app/src/main/res/drawable/shape_inputs.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/fragment_repo_info.xml
Due: build, sign, upload

Add attachments to comment (#1384)
  README.md
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/AttachmentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/MostVisitedReposAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/OrganizationsListAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreIssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreUsersFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MostVisitedReposFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/OrganizationsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/StarredRepositoriesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/WatchedRepositoriesFragment.java
  app/src/main/res/drawable/shape_full_circle.xml
  app/src/main/res/drawable/shape_inputs.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/nav_user_accounts.xml
Due: build, sign, upload

UI improvements (#1386)
  app/src/main/java/org/mian/gitnex/actions/AssigneesActions.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/ProfileActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreIssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/res/drawable/app_logo.xml
  app/src/main/res/drawable/gitnex.png
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/custom_about_dialog.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/layout/layout_reaction_badge.xml
  app/src/main/res/layout/layout_reaction_button.xml
  app/src/main/res/layout/list_admin_users.xml
  app/src/main/res/layout/list_collaborators.xml
  app/src/main/res/layout/list_collaborators_search.xml
  app/src/main/res/layout/list_commits.xml
  app/src/main/res/layout/list_dashboard_activity.xml
  app/src/main/res/layout/list_issue_comments.xml
  app/src/main/res/layout/list_issues.xml
  app/src/main/res/layout/list_labels.xml
  app/src/main/res/layout/list_most_visited_repos.xml
  app/src/main/res/layout/list_organization_members_preview.xml
  app/src/main/res/layout/list_organizations.xml
  app/src/main/res/layout/list_pr.xml
  app/src/main/res/layout/list_reaction_authors.xml
  app/src/main/res/layout/list_releases.xml
  app/src/main/res/layout/list_repositories.xml
  app/src/main/res/layout/list_users.xml
  app/src/main/res/layout/list_users_grid.xml
  app/src/main/res/layout/list_wiki.xml
  app/src/main/res/layout/nav_header.xml
  app/src/main/res/layout/nav_user_accounts.xml
Due: build, sign, upload

Fix cross referencing issue and pr in timeline
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Show PR statuses
  app/src/main/java/org/mian/gitnex/activities/CommitsActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/CommitDetailFragment.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/fragment_commit_details.xml
Due: build, sign, upload

Improvements and fixes (#1387)
  app/src/main/java/org/mian/gitnex/activities/CommitsActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/CommitDetailFragment.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/fragment_commit_details.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Release 6.0.0
  app/build.gradle
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/600.txt
Due: build, sign, upload, push

Release 6.0.0 (#1389)
  app/build.gradle
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/600.txt
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/cs-CZ/short_description.txt
  fastlane/metadata/android/cs-CZ/title.txt
Due: none

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  fastlane/metadata/android/de-DE/changelogs/600.txt
Due: build, sign, upload

Kickstart 7.0 (#1397)
  README.md
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  assets/buy-me-a-coffee.png
  assets/openapk.png
  assets/patreon.png
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
  fastlane/metadata/android/fr-FR/changelogs/600.txt
Due: build, sign, upload

pinned issues, d and bash lang support, pin and unpin an issue
  app/build.gradle
  app/src/main/java/org/mian/gitnex/actions/IssueActions.java
  app/src/main/java/org/mian/gitnex/actions/LabelsActions.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/core/MainGrammarLocator.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/BashLanguage.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/DLanguage.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/Language.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/IssueContext.java
  app/src/main/res/drawable/ic_unpin.xml
  app/src/main/res/layout/bottom_sheet_single_issue.xml
  app/src/main/res/layout/fragment_issues.xml
  app/src/main/res/layout/list_issues_pinned.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, push

Pinned issues, d and bash lang support, pin and unpin an issue (#1401)
  .woodpecker/build.yml
  .woodpecker/check.yml
  app/build.gradle
  app/src/main/java/org/mian/gitnex/actions/IssueActions.java
  app/src/main/java/org/mian/gitnex/actions/LabelsActions.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/core/MainGrammarLocator.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/java/org/mian/gitnex/fragments/IssuesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/BashLanguage.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/DLanguage.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/languages/Language.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/IssueContext.java
  app/src/main/res/drawable/ic_unpin.xml
  app/src/main/res/layout/bottom_sheet_single_issue.xml
  app/src/main/res/layout/fragment_issues.xml
  app/src/main/res/layout/list_issues_pinned.xml
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  fastlane/metadata/android/it-IT/changelogs/100.txt
  fastlane/metadata/android/it-IT/changelogs/104.txt
  fastlane/metadata/android/it-IT/changelogs/295.txt
  fastlane/metadata/android/it-IT/changelogs/296.txt
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/it-IT/changelogs/297.txt
Due: none

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/it-IT/changelogs/18.txt
Due: none

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/ar-SA/title.txt
Due: none

Enhance files UI
  .woodpecker/finish.yml
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/res/layout/fragment_files.xml
  app/src/main/res/layout/list_files.xml
  app/src/main/res/menu/files_switch_branches_menu.xml
  app/src/main/res/values/strings.xml
  build.gradle
Due: build, sign, upload, push
