Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, author-header, style, test, push

build:
  image: alvrme/alpine-android:android-32-jdk17
  commands:
  - ./gradlew assembleFreeRelease

sign:
  image: alvrme/alpine-android:android-32-jdk17
  environment:
    OUTPUT: signed.apk
    INSTANCE: https://codeberg.org
    KS_FILE: gitnex_ci_keystore.jks
    BOT_TOKEN:
      from_secret: BOT_TOKEN
    KS_PASS:
      from_secret: KS_PASS
    KEY_PASS:
      from_secret: KEY_PASS
    KS_REPO:
      from_secret: KS_REPO
  ...

upload:
  image: curlimages/curl:7.82.0
  environment:
    WEBDAV_USERNAME: GitNexBot
    PLUGIN_FILE: signed.apk
    PLUGIN_DESTINATION: https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/builds/latest.apk
    WEBDAV_PASSWORD:
      from_secret: WEBDAV_PASSWORD
  commands:
  ...

author-header:
  image: codeberg.org/qwerty287/woodpecker-regex-check
  settings:
    pattern: '*.java'
    regex: ' \\* \\@author [\\S\\s]+'
    must_contain: true

style:
  image: alvrme/alpine-android:android-34-jdk21
  commands:
  - ./gradlew :app:spotlessCheck

test:
  image: alvrme/alpine-android:android-34-jdk21
  commands:
  - ./gradlew test

push:
  image: crowdin/cli:3.16.0
  commands:
  - crowdin push

Fix account settings UI
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/fragments/AccountSettingsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/res/layout/bottom_sheet_explore_filters.xml
Due: build, sign, upload, author-header, style, test

Use chips for filters in pr, releases/tags and milestones
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetMilestonesFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetPullRequestFilterFragment.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetReleasesTagsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestsFragment.java
  app/src/main/res/layout/activity_commits.xml
  app/src/main/res/layout/bottom_sheet_issues_filter.xml
  app/src/main/res/layout/bottom_sheet_milestones_filter.xml
  app/src/main/res/layout/bottom_sheet_pull_request_filter.xml
  app/src/main/res/layout/bottom_sheet_releases_tags.xml
  app/src/main/res/layout/fragment_home_dashboard.xml
Due: build, sign, upload, author-header, style, test

Themes fixes and improvements
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/values-v21/styles.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test

Fix showing labels twice
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/NotificationsAdapter.java
Due: build, sign, upload, author-header, style, test

Prepare release 9.0 (#1506)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/900.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/001.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/002.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/003.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/004.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/005.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/006.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/007.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/008.png
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-tr-rTR/strings.xml
  fastlane/metadata/android/tr-TR/changelogs/18.txt
  fastlane/metadata/android/tr-TR/changelogs/22.txt
  fastlane/metadata/android/tr-TR/changelogs/24.txt
  fastlane/metadata/android/tr-TR/changelogs/25.txt
  fastlane/metadata/android/tr-TR/changelogs/26.txt
  fastlane/metadata/android/tr-TR/full_description.txt
  fastlane/metadata/android/tr-TR/short_description.txt
  fastlane/metadata/android/tr-TR/title.txt
Due: build, sign, upload, author-header, style, test

Update libs
  app/build.gradle
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/res/xml/changelog.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, author-header, style, test

Redesign user profile screen, render MD in issue/pr titles
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/res/layout/bottom_sheet_settings_general.xml
  app/src/main/res/layout/bottom_sheet_tracked_time.xml
  app/src/main/res/layout/fragment_home_dashboard.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-tr-rTR/strings.xml
Due: build, sign, upload, author-header, style, test

Redesign profile screen, render md in titles, improve repo info screen (#1508)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/LanguageColor.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/LanguageStatisticsBar.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/LanguageStatisticsHelper.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/LanguageStatisticsView.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/SeekbarItem.java
  app/src/main/res/layout/bottom_sheet_settings_general.xml
  app/src/main/res/layout/bottom_sheet_tracked_time.xml
  app/src/main/res/layout/custom_branches_dialog.xml
  app/src/main/res/layout/fragment_home_dashboard.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: build, sign, upload, author-header, style, test, push

Fix repo not exist, fix heatmap time stamp, improve icons in file browser (#1510)
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/FilesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/FileIcon.java
  app/src/main/res/drawable/ic_apache.xml
  app/src/main/res/drawable/ic_basic.xml
  app/src/main/res/drawable/ic_conf.xml
  app/src/main/res/drawable/ic_csv.xml
  app/src/main/res/drawable/ic_editorconfig.xml
  app/src/main/res/drawable/ic_file_code.xml
  app/src/main/res/drawable/ic_file_next.xml
  app/src/main/res/drawable/ic_git.xml
  app/src/main/res/drawable/ic_htaccess.xml
  app/src/main/res/drawable/ic_ini.xml
  app/src/main/res/drawable/ic_kotlin.xml
  app/src/main/res/drawable/ic_kts.xml
  app/src/main/res/drawable/ic_license.xml
  app/src/main/res/drawable/ic_ll.xml
  app/src/main/res/drawable/ic_llvm.xml
  app/src/main/res/drawable/ic_node_js.xml
  app/src/main/res/drawable/ic_properties.xml
  app/src/main/res/drawable/ic_regex.xml
  app/src/main/res/drawable/ic_tex.xml
  app/src/main/res/drawable/ic_text.xml
  app/src/main/res/drawable/ic_yml.xml
  app/src/main/res/layout/custom_edit_profile.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/zh-CN/changelogs/45.txt
  fastlane/metadata/android/zh-CN/full_description.txt
Due: none

Remove add account screen, sync with login screen for new accounts
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/AddNewAccountActivity.java
  app/src/main/java/org/mian/gitnex/activities/DeepLinksActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsNavAdapter.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/res/layout/activity_add_new_account.xml
Due: build, sign, upload, author-header, style, test

Implement instance providers on login and new account
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsNavAdapter.java
  app/src/main/java/org/mian/gitnex/database/api/UserAccountsApi.java
  app/src/main/java/org/mian/gitnex/database/dao/UserAccountsDao.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/database/models/UserAccount.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/Version.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/AccountContext.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Add instance providers (#1511)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/AddNewAccountActivity.java
  app/src/main/java/org/mian/gitnex/activities/DeepLinksActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsNavAdapter.java
  app/src/main/java/org/mian/gitnex/database/api/UserAccountsApi.java
  app/src/main/java/org/mian/gitnex/database/dao/UserAccountsDao.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/database/models/UserAccount.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/Version.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/AccountContext.java
  app/src/main/res/layout/activity_add_new_account.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/settings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Repository actions
  README.md
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoForksActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepositoryActions.java
  app/src/main/java/org/mian/gitnex/adapters/ActivitiesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreIssuesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetRepoFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/viewmodels/ActionsVariablesViewModel.java
  app/src/main/res/drawable/ic_actions.xml
  app/src/main/res/drawable/ic_reopen.xml
  app/src/main/res/layout/activity_repository_actions.xml
  app/src/main/res/layout/bottom_sheet_create_action_variable.xml
  app/src/main/res/layout/bottom_sheet_repo.xml
  app/src/main/res/layout/bottom_sheet_tracked_time.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/layout_repo_more_info.xml
  app/src/main/res/layout/list_action_runners.xml
  app/src/main/res/layout/list_action_variables.xml
  app/src/main/res/layout/list_action_workflows.xml
  app/src/main/res/layout/list_issues.xml
  app/src/main/res/layout/list_issues_pinned.xml
  app/src/main/res/layout/list_milestones.xml
  app/src/main/res/layout/list_pr.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test, push

Prefill account details when updating existing account
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Repository actions (#1515)
  README.md
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoForksActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepositoryActions.java
  app/src/main/java/org/mian/gitnex/adapters/ActivitiesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreIssuesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetRepoFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AlertDialogs.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/viewmodels/ActionsVariablesViewModel.java
  app/src/main/res/drawable/ic_actions.xml
  app/src/main/res/drawable/ic_reopen.xml
  app/src/main/res/layout/activity_repository_actions.xml
  app/src/main/res/layout/bottom_sheet_create_action_variable.xml
  app/src/main/res/layout/bottom_sheet_repo.xml
  app/src/main/res/layout/bottom_sheet_tracked_time.xml
  app/src/main/res/layout/fragment_repo_info.xml
  app/src/main/res/layout/layout_repo_more_info.xml
  app/src/main/res/layout/list_action_runners.xml
  app/src/main/res/layout/list_action_variables.xml
  app/src/main/res/layout/list_action_workflows.xml
  app/src/main/res/layout/list_issues.xml
  app/src/main/res/layout/list_issues_pinned.xml
  app/src/main/res/layout/list_milestones.xml
  app/src/main/res/layout/list_pr.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Due: build, sign, upload, author-header, style, test, push

Release 10.0.0 (#1516)
  app/build.gradle
  app/src/main/res/layout/activity_create_repo.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1000.txt
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/fr-FR/changelogs/1000.txt
Due: none

Update CI to not push txt files for translation (#1517)
  .woodpecker/locale.yml
Due: none

Improve the README (#1521)
  README.md
Due: none

Fix crash on older android version related to stompot lib, fix text cutoff bug in settings
  app/build.gradle
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/res/layout/bottom_sheet_settings_appearance.xml
Due: build, sign, upload, author-header, style, test

Add user agent, improve strings and README
  README.md
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Fix bugs and some improvements (#1526)
  README.md
  app/build.gradle
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/res/layout/bottom_sheet_settings_appearance.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Frontport 10.0.1 bugs and improvements (#1527)
  README.md
  app/build.gradle
  app/src/main/java/org/mian/gitnex/clients/GlideHttpClient.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/res/layout/bottom_sheet_settings_appearance.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Release 10.0.1
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1001.txt
Due: build, sign, upload, author-header, style, test, push

Release 10.0.1 (#1528)
  app/build.gradle
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1001.txt
Due: build, sign, upload, author-header, style, test, push

Disable crowdin push for now, permanent solution is needed to fix not push everything (#1529)
  .woodpecker/locale.yml
Due: none

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-zh-rTW/strings.xml
Due: build, sign, upload, author-header, style, test

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload, author-header, style, test

kick start 11.0, update libs and translation
  app/build.gradle
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, author-header, style, test

Update build files for gradle, fix crash on number format in activities, vue icon in file browser
  app/build.gradle
  app/src/main/java/org/mian/gitnex/adapters/ActivitiesAdapter.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/FileIcon.java
  app/src/main/res/drawable/ic_vue.xml
  build.gradle
Due: build, sign, upload, author-header, style, test

fix linting
  app/src/main/java/org/mian/gitnex/adapters/ActivitiesAdapter.java
Due: build, sign, upload, author-header, style, test

Path conditions:
  build: any of: app/**, build.gradle
  sign: any of: app/**, build.gradle
  upload: any of: app/**, build.gradle
  author-header: any of: app/**, build.gradle
  style: any of: app/**, build.gradle
  test: any of: app/**, build.gradle
  push: any of: app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt
