Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, author-header, style, test, push

Path conditions:
  build: any of: app/**, build.gradle
  sign: any of: app/**, build.gradle
  upload: any of: app/**, build.gradle
  author-header: any of: app/**, build.gradle
  style: any of: app/**, build.gradle
  test: any of: app/**, build.gradle
  push: any of: app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt

Fix notification not loading issue/pr, fix UI loading states for issue/pr comments
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/PullRequestDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/TimelineAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/TimelineViewModel.java
  app/src/main/res/layout/activity_pull_request_details.xml
Due: build, sign, upload, author-header, style, test

Add breadcrumb to files
  app/src/main/java/org/mian/gitnex/adapters/FilesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/FilesFragment.java
  app/src/main/res/layout/fragment_files.xml
  app/src/main/res/layout/item_files_breadcrumb.xml
Due: build, sign, upload, author-header, style, test

Clean up libraries
  README.md
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/AdministrationActivity.java
  app/src/main/java/org/mian/gitnex/activities/DeepLinksActivity.java
  app/src/main/java/org/mian/gitnex/adapters/AdminCronTasksAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test

13.0.0 RC4 (#1602)
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1298.txt
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-zh-rTW/strings.xml
Due: build, sign, upload, author-header, style, test

Prepare 13.0.0 release (#1607)
  app/src/main/res/values/gitea_version.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1300.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/001.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/002.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/003.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/004.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/005.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/006.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/007.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/008.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/009.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/010.png
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test, push

Fix F-droid build issue (#1608)
  app/build.gradle
  app/libs/emoji-java-5.1.2.jar
  app/libs/tea4j-autodeploy-1.0.0.jar
  app/src/main/java/org/mian/gitnex/activities/AdminGetUsersActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/PullRequestDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/MyPullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotificationsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetPrActions.java
  app/src/main/java/org/mian/gitnex/fragments/MilestonesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssuesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MilestonesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/PullRequestsViewModel.java
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1301.txt
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test, push

Update libs (#1609)
  app/build.gradle
  app/libs/emoji-java-5.1.2.jar
  app/libs/tea4j-autodeploy-1.0.0.jar
  app/src/main/java/org/mian/gitnex/activities/AdminGetUsersActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/PullRequestDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/MyPullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotificationsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetPrActions.java
  app/src/main/java/org/mian/gitnex/fragments/MilestonesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotificationsFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssuesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MilestonesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/PullRequestsViewModel.java
  app/src/main/res/xml/changelog.xml
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test

feature(#1612): re-activate colored server instance icons (#1614)
  app/src/main/res/layout/fragment_home_dashboard.xml
Due: build, sign, upload, author-header, style, test

Update templates
  .forgejo/issue_template/bug.md
  .forgejo/issue_template/feature.md
  .forgejo/issue_template/question.md
  .forgejo/issue_template/suggestion.md
  .forgejo/pull_request_template.md
  .gitea/pull_request_template.md
Due: none

Fix open url in wrong browser
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  gradle.properties
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test

Fix open url in wrong browser and Invalid issue in PR regression (#1622)
  app/src/main/java/org/mian/gitnex/adapters/ReleasesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/ReleasesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/helpers/markdown/ImageRendererPlugin.java
  app/src/main/java/org/mian/gitnex/structs/BottomSheetListener.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssueOrPRCheckerViewModel.java
  app/src/main/res/layout/list_releases.xml
  gradle.properties
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test

Theme fixes, add new section for apps, add codeberg.org on selection on the login screen
  app/src/main/java/org/mian/gitnex/activities/AppSettingsActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsAboutBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsDiscoverAppsBottomSheet.java
  app/src/main/java/org/mian/gitnex/helpers/UIHelper.java
  app/src/main/res/layout/activity_app_settings.xml
  app/src/main/res/layout/bottomsheet_settings_about.xml
  app/src/main/res/layout/bottomsheet_settings_discover_apps.xml
  app/src/main/res/layout/item_settings_more_apps.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Implement Android 17+ local network permission check
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/bottomsheets/AndroidPermissionsBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsSecurityBottomSheet.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/helpers/PermissionHelper.java
  app/src/main/res/drawable/ic_network.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/bottomsheet_android_permissions.xml
  app/src/main/res/layout/bottomsheet_settings_security.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Android 17+ permission flow (#1624)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/AppSettingsActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/bottomsheets/AndroidPermissionsBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsAboutBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsDiscoverAppsBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/SettingsSecurityBottomSheet.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/helpers/PermissionHelper.java
  app/src/main/java/org/mian/gitnex/helpers/UIHelper.java
  app/src/main/res/drawable/ic_network.xml
  app/src/main/res/layout/activity_app_settings.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/bottomsheet_android_permissions.xml
  app/src/main/res/layout/bottomsheet_settings_about.xml
  app/src/main/res/layout/bottomsheet_settings_discover_apps.xml
  app/src/main/res/layout/bottomsheet_settings_security.xml
  app/src/main/res/layout/item_settings_more_apps.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Implement forgejo ci actions for repositories
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepositoryForgejoActionsActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsRunnersAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsTasksAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsVariablesAdapter.java
  app/src/main/java/org/mian/gitnex/api/clients/ApiInterface.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoRunner.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoTask.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoTasksResponse.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoVariable.java
  app/src/main/java/org/mian/gitnex/bottomsheets/CreateActionVariableBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/RepoMenuBottomSheet.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsRunnersFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsTasksFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsVariablesFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoryForgejoActionsViewModel.java
  app/src/main/res/layout/list_forgejo_actions_runners.xml
  app/src/main/res/layout/list_forgejo_actions_tasks.xml
  app/src/main/res/layout/list_forgejo_actions_variables.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Implement forgejo ci actions for repositories (#1625)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepositoryForgejoActionsActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsRunnersAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsTasksAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ForgejoActionsVariablesAdapter.java
  app/src/main/java/org/mian/gitnex/api/clients/ApiInterface.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoRunner.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoTask.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoTasksResponse.java
  app/src/main/java/org/mian/gitnex/api/models/forgejo/actions/ForgejoVariable.java
  app/src/main/java/org/mian/gitnex/bottomsheets/CreateActionVariableBottomSheet.java
  app/src/main/java/org/mian/gitnex/bottomsheets/RepoMenuBottomSheet.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsRunnersFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsTasksFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepositoryForgejoActionsVariablesFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoryForgejoActionsViewModel.java
  app/src/main/res/layout/list_forgejo_actions_runners.xml
  app/src/main/res/layout/list_forgejo_actions_tasks.xml
  app/src/main/res/layout/list_forgejo_actions_variables.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, author-header, style, test, push

Release 14.0.0 (#1626)
  app/src/main/java/org/mian/gitnex/activities/NotesActivity.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/UserAccountsAdapter.java
  app/src/main/java/org/mian/gitnex/bottomsheets/RepoMenuBottomSheet.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/1400.txt
  gradle/libs.versions.toml
Due: build, sign, upload, author-header, style, test, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-eo-rUY/strings.xml
  app/src/main/res/values-sr-rSP/strings.xml
Due: build, sign, upload, author-header, style, test

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload, author-header, style, test

feat(repo): expose Commits as a top-level tab
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/fragments/CommitsFragment.java
  app/src/main/res/layout/activity_repo_detail.xml
  app/src/main/res/layout/fragment_commits.xml
Due: build, sign, upload, author-header, style, test

Fix `APP_STRUCTURE.md` render, update `README.md` formatting (#1643)
  APP_STRUCTURE.md
  README.md
Due: none
