Repository gitnex-org/gitnex: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, sign, upload, push

.woodpecker/build.yml:

steps:
  build:
    image: alvrme/alpine-android:android-32-jdk17
    commands:
      - ./gradlew assembleFreeRelease
    when:
      path: [ app/**, build.gradle ]

  sign:
    image: alvrme/alpine-android:android-32-jdk17
    environment:
      OUTPUT: "signed.apk"
      INSTANCE: "https://codeberg.org"
      KS_FILE: "gitnex_ci_keystore.jks"
    commands:
      - ./scripts/sign-build.sh
    secrets: [ BOT_TOKEN, KS_PASS, KEY_PASS, KS_REPO ]
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/**, build.gradle ]

  upload:
    image: curlimages/curl:7.82.0
    environment:
      WEBDAV_USERNAME: "GitNexBot"
      PLUGIN_FILE: "signed.apk"
      PLUGIN_DESTINATION: "https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/builds/latest.apk"
    commands:
      - curl -T "$PLUGIN_FILE" -u "$WEBDAV_USERNAME":"$WEBDAV_PASSWORD" "$PLUGIN_DESTINATION"
    secrets: [ WEBDAV_PASSWORD ]
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/**, build.gradle ]

  upload-release:
    image: curlimages/curl:7.82.0
    environment:
      WEBDAV_USERNAME: "GitNexBot"
      PLUGIN_FILE: "signed.apk"
    commands:
      - "[[ $CI_COMMIT_TAG == *'-rc'* ]] && echo 'Upload blocked. Build seems to be a release candidate.' && exit 0"
      - curl -T "$PLUGIN_FILE" -u "$WEBDAV_USERNAME":"$WEBDAV_PASSWORD" 'https://cloud.swatian.com/remote.php/dav/files/GitNexBot/gitnex/releases/'"$CI_COMMIT_TAG"'.apk'
    secrets: [ WEBDAV_PASSWORD ]
    when:
      event: [ tag ]

.woodpecker/locale.yml:

steps:
  prepare:
    image: alpine
    commands:
      - cp crowdin.example.yml crowdin.yml
      - sed -i 's/-removed-/'"$CROWDIN_TOKEN"'/' crowdin.yml
    secrets: [ CROWDIN_TOKEN ]
    when:
      event: [ push, tag, cron ]
      branch: main

  push:
    image: crowdin/cli:3.16.0
    commands:
      - crowdin push
    when:
      event: [ push, tag ]
      branch: main
      path: [ app/src/main/res/values/strings.xml, fastlane/metadata/android/en-US/*.txt, fastlane/metadata/android/en-US/changelogs/*.txt ]

  pull:
    image: crowdin/cli:3.16.0
    # we do not need to update the config file again since it persists
    commands:
      - crowdin pull
    when:
      event: [ push, cron ]
      branch: main

  push-git:
    image: alpine/git
    environment:
      # Information that should be used when authoring a commit
      - GIT_AUTHOR_NAME=gitnexbot
      - GIT_AUTHOR_EMAIL=gitnexbot@noreply.codeberg.org
      - GIT_COMMIT_MESSAGE=Translation updates from Crowdin [CI SKIP]
      # Basic information concerning the repo that
      - GITEA_HOST=codeberg.org
      - GITEA_REPOSITORY=gitnex/GitNex
      - GITEA_BRANCH=main
      # Token that should be used to authenticate against the gitea instance
      # - BOT_TOKEN=secret
    secrets: [ BOT_TOKEN ]
    commands:
      # Setup git credentials and checkout target branch
      - git config user.name  "$${GIT_AUTHOR_NAME}"
      - git config user.email "$${GIT_AUTHOR_EMAIL}"
      - git checkout "$${GITEA_BRANCH}"
      # Stage all important files for commit
      - git add -A .
      # If files have changed, create a new commit and push it to the branch this pipeline was started on
      - >
        if git commit --message "$${GIT_COMMIT_MESSAGE}"; then
          git remote set-url origin "https://$${BOT_TOKEN}@$${GITEA_HOST}/$${GITEA_REPOSITORY}"
          git push origin "$${GITEA_BRANCH}"
        fi
    when:
      branch: main
      event: [ push, cron ]

Add new langs and use standard locale codes for translation dirs
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/settings.xml
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/ar-SA/changelogs/100.txt
  fastlane/metadata/android/ar-SA/changelogs/296.txt
  fastlane/metadata/android/ar-SA/changelogs/300.txt
  fastlane/metadata/android/ar-SA/changelogs/307.txt
  fastlane/metadata/android/ar-SA/changelogs/308.txt
  fastlane/metadata/android/ar-SA/changelogs/310.txt
  fastlane/metadata/android/ar-SA/changelogs/317.txt
  fastlane/metadata/android/ar-SA/changelogs/320.txt
  fastlane/metadata/android/ar-SA/changelogs/327.txt
  fastlane/metadata/android/ar-SA/changelogs/328.txt
  fastlane/metadata/android/ar-SA/changelogs/329.txt
  fastlane/metadata/android/ar-SA/changelogs/330.txt
  fastlane/metadata/android/ar-SA/changelogs/350.txt
  fastlane/metadata/android/ar-SA/changelogs/400.txt
  fastlane/metadata/android/ar-SA/changelogs/410.txt
  fastlane/metadata/android/ar-SA/changelogs/420.txt
  fastlane/metadata/android/ar-SA/changelogs/430.txt
  fastlane/metadata/android/ar-SA/changelogs/440.txt
  fastlane/metadata/android/ar-SA/changelogs/450.txt
  fastlane/metadata/android/es-ES/changelogs/32.txt
  fastlane/metadata/android/pl-PL/short_description.txt
  fastlane/metadata/android/pl-PL/title.txt
  fastlane/metadata/android/pt-BR/changelogs/100.txt
  fastlane/metadata/android/pt-BR/changelogs/104.txt
  fastlane/metadata/android/pt-BR/changelogs/295.txt
  fastlane/metadata/android/pt-BR/changelogs/296.txt
  fastlane/metadata/android/pt-BR/changelogs/297.txt
  fastlane/metadata/android/pt-BR/short_description.txt
  fastlane/metadata/android/pt-BR/title.txt
  fastlane/metadata/android/ru-RU/short_description.txt
  fastlane/metadata/android/zh-CN/changelogs/104.txt
  fastlane/metadata/android/zh-CN/changelogs/450.txt
  fastlane/metadata/android/zh-CN/changelogs/500.txt
  fastlane/metadata/android/zh-CN/changelogs/530.txt
  fastlane/metadata/android/zh-CN/full_description.txt
  fastlane/metadata/android/zh-CN/short_description.txt
Due: none

Add db dao, api and model for settings
  app/src/main/java/org/mian/gitnex/database/api/AppSettingsApi.java
  app/src/main/java/org/mian/gitnex/database/dao/AppSettingsDao.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/database/models/AppSettings.java
Due: build, sign, upload

Move Appearance settings to db
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/OrganizationDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/OrganizationTeamInfoActivity.java
  app/src/main/java/org/mian/gitnex/activities/ProfileActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepoDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsAppearanceActivity.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreIssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/IssuesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/PullRequestsAdapter.java
  app/src/main/java/org/mian/gitnex/database/models/AppSettings.java
  app/src/main/java/org/mian/gitnex/fragments/AccountSettingsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/ExploreFragment.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestChangesFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
Due: build, sign, upload

Move code editor settings to db
  app/src/main/java/org/mian/gitnex/activities/CodeEditorActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsCodeEditorActivity.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/theme/Theme.java
Due: build, sign, upload

Remove the implemented prefs with db
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateMilestoneActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/EditIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
Due: build, sign, upload

Fix for new installations
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/core/MainApplication.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
Due: build, sign, upload

Move notification settings to db
  app/src/main/java/org/mian/gitnex/activities/SettingsNotificationsActivity.java
  app/src/main/java/org/mian/gitnex/notifications/Notifications.java
  app/src/main/java/org/mian/gitnex/notifications/NotificationsWorker.java
Due: build, sign, upload

Move security prefs to db
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsCodeEditorActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsNotificationsActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsSecurityActivity.java
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/core/MainApplication.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/PicassoCache.java
  app/src/main/res/layout/activity_settings_security.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Move general settings to db
  app/src/main/java/org/mian/gitnex/activities/DeepLinksActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsGeneralActivity.java
  app/src/main/java/org/mian/gitnex/core/MainApplication.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetReplyFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
Due: build, sign, upload

Add migration for current user settings
  app/src/main/java/org/mian/gitnex/core/MainApplication.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/TinyDB.java
Due: build, sign, upload

Fix some nitpicks
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/ssl/MemorizingTrustManager.java
Due: build, sign, upload

Update translation files
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload

Export/import app data (#1339)
  README.md
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/AddNewAccountActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/LoginActivity.java
  app/src/main/java/org/mian/gitnex/activities/SettingsBackupRestoreActivity.java
  app/src/main/java/org/mian/gitnex/core/MainApplication.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetSingleIssueFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SettingsFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppDatabaseSettings.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/java/org/mian/gitnex/helpers/BackupUtil.java
  app/src/main/java/org/mian/gitnex/helpers/ssl/MemorizingTrustManager.java
  app/src/main/res/drawable/ic_export.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_settings_backup_restore.xml
  app/src/main/res/layout/fragment_settings.xml
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Delete email from account and other UI fixes
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/activities/RepositorySettingsActivity.java
  app/src/main/java/org/mian/gitnex/adapters/AccountSettingsEmailsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/MilestonesAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/TagsAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/PullRequestCommitsFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/ReleasesViewModel.java
  app/src/main/res/layout/custom_repository_transfer_dialog.xml
  app/src/main/res/layout/list_account_settings_emails.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Add ssh key to user account
  app/src/main/java/org/mian/gitnex/fragments/SSHKeysFragment.java
  app/src/main/res/layout/custom_account_settings_add_ssh_key.xml
  app/src/main/res/layout/fragment_account_settings_ssh_keys.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Edit user profile
  app/build.gradle
  app/src/main/java/org/mian/gitnex/clients/RetrofitClient.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/java/org/mian/gitnex/helpers/contexts/AccountContext.java
  app/src/main/res/layout/activity_create_issue.xml
  app/src/main/res/layout/activity_create_milestone.xml
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_create_team_by_org.xml
  app/src/main/res/layout/activity_edit_issue.xml
  app/src/main/res/layout/custom_edit_profile.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Code improvements
  app/src/main/java/org/mian/gitnex/helpers/FileDiffView.java
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
  app/src/main/java/org/mian/gitnex/helpers/MergePullRequestSpinner.java
  app/src/main/java/org/mian/gitnex/helpers/PicassoCache.java
  app/src/main/java/org/mian/gitnex/helpers/UrlHelper.java
  app/src/main/java/org/mian/gitnex/helpers/Version.java
  app/src/main/java/org/mian/gitnex/helpers/attachments/AttachmentUtils.java
  app/src/main/java/org/mian/gitnex/helpers/codeeditor/SourcePositionListener.java
  app/src/main/java/org/mian/gitnex/helpers/languagestatistics/LanguageStatisticsBar.java
  app/src/main/java/org/mian/gitnex/viewmodels/AdminGetUsersViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/DashboardViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssueCommentsViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssuesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MembersByOrgViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/MilestonesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/OrganizationsViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepoWatchersViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoriesViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/RepositoryForksViewModel.java
  app/src/main/java/org/mian/gitnex/viewmodels/WikiViewModel.java
  app/src/main/java/org/mian/gitnex/views/ReactionList.java
  app/src/main/java/org/mian/gitnex/views/SyntaxHighlightedArea.java
Due: build, sign, upload

Fix MD issues
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
Due: build, sign, upload

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  fastlane/metadata/android/zh-CN/changelogs/100.txt
  fastlane/metadata/android/zh-CN/changelogs/62.txt
Due: build, sign, upload

Fix crashes on images with no path (#1344)
  app/src/main/java/org/mian/gitnex/helpers/Markdown.java
Due: build, sign, upload

Prepare release 5.4.0 and few fixes including translation updates (#1348)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-eo-rEO/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-fa-rIR/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lv-rLV/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-si-rLK/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sr-rRS/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/xml/changelog.xml
  fastlane/metadata/android/en-US/changelogs/540.txt
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/de-DE/changelogs/540.txt
  fastlane/metadata/android/zh-CN/changelogs/540.txt
Due: none

Translation updates from Crowdin [CI SKIP]
  fastlane/metadata/android/fr-FR/changelogs/540.txt
Due: none

Update user avatar (#1349)
  app/build.gradle
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/adapters/AttachmentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/ExploreIssuesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/java/org/mian/gitnex/helpers/AppUtil.java
  app/src/main/res/layout/custom_edit_avatar_dialog.xml
  app/src/main/res/layout/fragment_profile_detail.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/changelog.xml
Due: build, sign, upload, push

Add popup for new email, fix color highlighting and many more improvements (#1355)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/AccountSettingsEmailActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateNoteActivity.java
  app/src/main/java/org/mian/gitnex/activities/MainActivity.java
  app/src/main/java/org/mian/gitnex/database/api/UserAccountsApi.java
  app/src/main/java/org/mian/gitnex/database/dao/UserAccountsDao.java
  app/src/main/java/org/mian/gitnex/database/db/GitnexDatabase.java
  app/src/main/java/org/mian/gitnex/database/models/UserAccount.java
  app/src/main/java/org/mian/gitnex/fragments/AccountSettingsEmailsFragment.java
  app/src/main/java/org/mian/gitnex/fragments/MyIssuesFragment.java
  app/src/main/java/org/mian/gitnex/fragments/RepoInfoFragment.java
  app/src/main/java/org/mian/gitnex/fragments/SSHKeysFragment.java
  app/src/main/java/org/mian/gitnex/fragments/profile/DetailFragment.java
  app/src/main/java/org/mian/gitnex/viewmodels/IssueCommentsViewModel.java
  app/src/main/res/layout/activity_account_settings_email.xml
  app/src/main/res/layout/activity_add_collaborator_to_repository.xml
  app/src/main/res/layout/activity_add_new_account.xml
  app/src/main/res/layout/activity_add_new_team_member.xml
  app/src/main/res/layout/activity_create_file.xml
  app/src/main/res/layout/activity_create_issue.xml
  app/src/main/res/layout/activity_create_label.xml
  app/src/main/res/layout/activity_create_milestone.xml
  app/src/main/res/layout/activity_create_new_user.xml
  app/src/main/res/layout/activity_create_note.xml
  app/src/main/res/layout/activity_create_organization.xml
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_create_release.xml
  app/src/main/res/layout/activity_create_repo.xml
  app/src/main/res/layout/activity_create_team_by_org.xml
  app/src/main/res/layout/activity_edit_issue.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_merge_pull_request.xml
  app/src/main/res/layout/activity_wiki.xml
  app/src/main/res/layout/bottom_sheet_reply_layout.xml
  app/src/main/res/layout/custom_account_settings_add_new_email.xml
  app/src/main/res/layout/custom_edit_profile.xml
  app/src/main/res/layout/custom_repository_delete_dialog.xml
  app/src/main/res/layout/custom_repository_edit_properties_dialog.xml
  app/src/main/res/layout/custom_repository_transfer_dialog.xml
  app/src/main/res/layout/fragment_repo_info.xml
Due: build, sign, upload

Improve biometric lock, new comment on issue and pr (wip)
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/BiometricUnlock.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/res/drawable/ic_send.xml
  app/src/main/res/drawable/shape_inputs.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/activity_unlock.xml
Due: build, sign, upload

New reply/comment UI
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetReplyFragment.java
  app/src/main/res/drawable/shape_inputs.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/custom_account_settings_add_ssh_key.xml
  app/src/main/res/menu/drawer_menu.xml
Due: build, sign, upload

Insert note(s) to an issue description
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/NotesFragment.java
  app/src/main/res/layout/activity_create_issue.xml
  app/src/main/res/layout/custom_insert_note.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Improve notes insertion
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/database/api/NotesApi.java
  app/src/main/java/org/mian/gitnex/database/dao/NotesDao.java
  app/src/main/res/layout/custom_insert_note.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Insert note to a release
  README.md
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateReleaseActivity.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/fragments/NotesFragment.java
  app/src/main/res/layout/activity_create_release.xml
Due: build, sign, upload

insert note to a pr description
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/activity_settings_general.xml
Due: build, sign, upload

Improve biometric lock, new comment UI, create issue/pr from a note (#1356)
  README.md
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/mian/gitnex/activities/BaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/BiometricUnlock.java
  app/src/main/java/org/mian/gitnex/activities/CreateIssueActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreatePullRequestActivity.java
  app/src/main/java/org/mian/gitnex/activities/CreateReleaseActivity.java
  app/src/main/java/org/mian/gitnex/activities/IssueDetailActivity.java
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/java/org/mian/gitnex/adapters/NotesAdapter.java
  app/src/main/java/org/mian/gitnex/database/api/NotesApi.java
  app/src/main/java/org/mian/gitnex/database/dao/NotesDao.java
  app/src/main/java/org/mian/gitnex/fragments/BottomSheetReplyFragment.java
  app/src/main/java/org/mian/gitnex/fragments/NotesFragment.java
  app/src/main/res/drawable/ic_send.xml
  app/src/main/res/drawable/shape_inputs.xml
  app/src/main/res/layout/activity_create_issue.xml
  app/src/main/res/layout/activity_create_pr.xml
  app/src/main/res/layout/activity_create_release.xml
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/layout/activity_settings_general.xml
  app/src/main/res/layout/activity_unlock.xml
  app/src/main/res/layout/custom_account_settings_add_ssh_key.xml
  app/src/main/res/layout/custom_insert_note.xml
  app/src/main/res/menu/drawer_menu.xml
  app/src/main/res/values/strings.xml
Due: build, sign, upload, push

Translation updates from Crowdin [CI SKIP]
  app/src/main/res/values-fr-rFR/strings.xml
Due: build, sign, upload

Fix attachments for comments and improve comment UI
  app/src/main/java/org/mian/gitnex/adapters/IssueCommentsAdapter.java
  app/src/main/res/layout/activity_issue_detail.xml
  app/src/main/res/values/dimens.xml
Due: build, sign, upload
